.termImg {
    width: 100%;
    height: 550px;
}

.termImg img {
    width: 100%;
    height: 100%;
}

.termsLogoImg {
    height: 100px;
    text-align: center;
}

.termsLogoImg img {
    width: 100%;
    height: 100%;
}

.termsText {
    text-align: center;
}

.termsText h6 {
    font-size: 22px !important;
    font-weight: bold !important;
    color: #000 !important;
    padding: 10px 0 !important;
}

.termsText span {
    color: #2c3051 !important;
    padding: 10px 0 !important;
}




.leftAlign {
    height: 70vh;
    margin: auto 0;
}
.termsPara{
    font-size: 14px !important;
    color: #000 !important;
}

.paraSec{
    padding: 0 30px;
}

.termsButton{
    text-align: center;
}

.checkBox_terms{
    margin: auto !important;
}