.pet-Image {
  width: 650px !important;
  height: 100% !important;
}

.pet-Image img {
  width: 100% !important;
  height: 100% !important;
}
.petHost-Header {
  width: 600px !important;
  height: 500px !important;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.pet-Host {
  font-size: 25px !important;
  color: #000 !important;
  font-weight: 700 !important;
}
.petHostService {
  color: #2c3051 !important;
  font-family: Roboto-Regular !important;
  font-size: 17px !important;
  font-weight: 500 !important;
}

.stepperImage {
  position: absolute;
  width: 450px !important;
  height: 100%;
}
.stepperImage img {
  width: 100% !important;
  height: 100% !important;
}
.stepper-BG {
  background-image: url("../../../Assets/Images/BookingSubmit.svg");

  background-repeat: no-repeat;
  width: 100% !important;
  height: auto;
  background-size: cover;
}
.App {
  font-family: Roboto-Regular !important;
}
h4 {
  font-size: 30px !important;
}
h5 {
  color: rgb(80, 150, 255);
  font-size: 16px !important;
}
h3 {
  color: rgb(80, 150, 255);
  left: 80px;
}
.form {
  min-height: 180px !important;
}
.stepperPage > div > div > div > div {
  border-top: none !important;
  color: #fff !important;
  font-size: 12px !important;
}
.stepperPage > div > div > div {
  height: 48px;
  width: 60% !important;
}
.stepperPage > div > div {
  display: inline-grid !important;
}

.image_front_color {
  width: 100%;
  background-color: #f85a47;
  opacity: 0.5;
  height: 100%;
  position: absolute;
  left: 0;
}
