.pet-Image{
    width: 650px !important;
    height:500px !important
}

.pet-Image img{
    width: 100% !important;
    height:100%!important
}
.petHost-Header{
    width: 600px !important;
    height:500px !important;
    display: inline-flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
}
.pet-Host{
    font-size: 25px !important;
    color: #000 !important;
    font-weight: 700 !important;
}
.petHostService{
    color: #2C3051 !important;
    font-family: sans-serif !important;
    font-size: 17px !important;
    font-weight: 500 !important;
}

.siepperImage{
position: absolute;
}
/* petSpace */
.siepperImage{
  width: 400px !important;
  height: 600px !important;
}
.siepperImage img{
  width: 100% !important;
  height: 100%!important;
}
.App{
    font-family: sans-serif !important;
    /* text-align: center !important; */
    /* justify-content: center !important; */
    /* margin: 30px !important; */
    /* padding: 10px !important; */
  }
  h4{
    font-size: 30px !important;
  }
  h5 {
    color: rgb(80, 150, 255);
    font-size: 16px !important;
  }
  h3 {
    /* position: absolute !important; */
    color: rgb(80, 150, 255);
    left: 80px;
  }
  .form {
    min-height: 180px !important;
  }
  .stepperPage>div>div>div>div{
    border-top: none !important;
    position: unset !important;
  }
  .child {
    position: relative !important;
    margin-top: 40px !important ;
  }
  .stepperPage>div>div>div{
    height: 25px;
    width: 15.1111% !important;
    /* position: unset !important; */
  }
  .stepperPage>div>div{
    display: inline-grid !important;
    position: absolute;
    height: 250px;
    /* width: unset !important; */
  }
  /* .textBox{
    width:400px !important
  } */
