.PetBoardImage{
/* align-items: center !important; */
position: absolute;
/* width: 450px !important; */
height: 100%;
}
.petImage{
    width: 650px !important;
    height:500px !important
}

.petImage img{
    width: 100% !important;
    height:100%!important
}
.pet-image{
    width: 190px !important;
    height: 190px !important;
}
.pet-image img{
    width: 100%!important;
    height:100% !important
}
.petHost{
    font-size: 25px !important;
    color: #000 !important;
    font-weight: 700 !important;
}
.petHostHeader{
    width: 600px !important;
    height:500px !important;
    display: inline-flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
}
/* .pet-heading{
    /* position: absolute; */
    /* top: 0;
    left: 0;
} */
.petChoose{
    /* position: absolute; */
    left: 0;
    top: 70px;
} */
.image_front_color{
    width: 100%;
    background-color: #f85a47;
    opacity: 0.5;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
.BoaedingCards{
width: 0 !important;
}
.petService{
    color: #2C3051 !important;
    font-family: sans-serif !important;
    font-size: 17px !important;
    font-weight: 500 !important;

}
.PetBoardImage-image{
    color: #000 !important;
    font-size: 12px !important;
}
.textWidth .PetBoardImage-image{
    text-align: center !important;
}
.petListImage{
    gap: 16px;
    display: inline-flex;
    
}
/* .textWidth{
    width:150px !important;

} */



@media only screen and (max-width: 552px)  {
    /* .pet-heading{
        position: absolute;
        top: 0;
        left: 0;
    }
    .petChoose{
        position: absolute;
        left: 0;
        top: 0;
    } */
}