.PetBoardImage {
  /* align-items: center !important; */
  position: absolute;
  /* width: 450px !important; */
  height: 100%;
}
.petImage {
  width: 650px !important;
  height: 500px !important;
}

.petImage img {
  width: 100% !important;
  height: 100% !important;
}
.pet-image {
  width: 150px !important;
  height: 150px !important;
}
.pet-image img {
  /* max-width: 190px !important ;
  max-height: 190px !important; */
  width: 100% !important;
  height: 100% !important;
}
.petHost {
  font-size: 28px !important;
  color: #000 !important;
  font-weight: 700 !important;
}
.petHostHeader {
  width: 600px !important;
  height: 500px !important;
  padding-top: 3rem;
  /* display: inline-flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* position: relative; */
}
.pet-heading {
  padding-top: 1rem;
}
/* .pet-heading{
    /* position: absolute; */
/* top: 0;
    left: 0;
} */
.petChoose {
  /* position: absolute; */
  /* left: 0;
  top: 70px; */
  padding-top: 5rem;
}
*/ .image_front_color {
  width: 100%;
  background-color: #f85a47;
  opacity: 0.5;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.BoaedingCards {
  width: 0 !important;
}
.petService {
  color: grey !important;
  font-family: sans-serif !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}
.PetBoardImage-image {
  color: #000 !important;
  font-size: 12px !important;
}
.textWidth .PetBoardImage-image {
  text-align: center !important;
}
.petListImage {
  gap: 16px;
  display: inline-flex;
  gap: 60px;
}

.imageCard_edit {
  max-width: 100% !important;
}
.Box-Image3 {
  /* padding-top: 18rem; */
  /* position: fixed; */
  background-image: url("../../Assets/Images/Pethost\ registeration\ 1.png");

  background-repeat: no-repeat;
  width: 100% !important;
  height: auto;
  /* object-fit: fill; */
  background-size: cover;
  /* position: absolute; */

  /* background-position: center; */
}
.Box-color3 {
  background-color: #f85a47;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: relative;
}

/* .textWidth{
    width:150px !important;

} */

@media only screen and (max-width: 552px) {
  /* .pet-heading{
        position: absolute;
        top: 0;
        left: 0;
    }
    .petChoose{
        position: absolute;
        left: 0;
        top: 0;
    } */
}
