.PetBoardImage {
  position: absolute;
  height: 100%;
}
.petImage {
  width: 650px !important;
  height: 500px !important;
}

.petImage img {
  width: 100% !important;
  height: 100% !important;
}
.pet-image {
  width: 150px !important;
  height: 150px !important;
}
.pet-image img {
  width: 100% !important;
  height: 100% !important;
}
.petHost {
  font-size: 28px !important;
  color: #000 !important;
  font-weight: 700 !important;
}
.petHostHeader {
  width: 600px !important;
  height: 500px !important;
  padding-top: 3rem;
}
.pet-heading {
  padding-top: 1rem;
}

.petChoose {
  padding-top: 5rem;
}
.image_front_color {
  width: 100%;
  background-color: #f85a47;
  opacity: 0.5;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.BoaedingCards {
  width: 0 !important;
}
.petService {
  color: grey !important;
  font-family: sans-serif !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}
.PetBoardImage-image {
  color: #000 !important;
  font-size: 12px !important;
}
.textWidth .PetBoardImage-image {
  text-align: center !important;
}
.petListImage {
  gap: 16px;
  display: inline-flex;
  gap: 60px;
}

.imageCard_edit {
  max-width: 100% !important;
}
.Box-Image3 {
  background-image: url("../../Assets/Images/Pethost\ registeration\ 1.png");

  background-repeat: no-repeat;
  width: 100% !important;
  height: auto;

  background-size: cover;
}
.Box-color3 {
  background-color: #f85a47;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: relative;
}
.Choose-Service {
  cursor: pointer;
}
