.CardPositions {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.mainCard {
  display: inline-flex;
}
.mainCardSize {
  width: 100%;
  max-width: 248px;
}
.AddressSubPosition1 {
  display: flex;
  align-items: center;
  gap: 7px;
}
.AddressSubPosition2 {
  display: flex;
  align-items: center;
  gap: 7px;
  padding-top: 10px;
}
.CardStyles {
  color: #fff;
}
.ReviewsPosition {
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: space-between;
  gap: 18px;
}
.AddressArea {
  display: flex;
  align-items: center;
  padding-top: 5px;
  gap: 1.45rem;
}
.AddressArea1 {
  display: inline-flex;
}
.addressText {
  padding-left: 5px;
}
.groomImage {
  width: 220px !important;
  height: 150px;
}
.groomImage img {
  width: 100%;
  height: 100%;
}
.card_position {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
