.Home-Banner {
  background-image: url("../../Assets/Images/Homepage\ Bg.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.Banner-Header {
  font-family: cooper_regular;
}

@font-face {
  font-family: cooper_regular;
  src: url(../../Assets//Fonts/Cooper\ Black\ Regular.ttf);
}
