.serviceImage {
  max-width: 220px !important;
  border-radius: 5px !important;
}
.serviceImage img {
  width: 100%;
  height: 100%;
}
.Profession-img{
  width: 20px !important;
  height: 30px !important;
}
.Profession-img img{
  width: 100%!important;
  height: 100%!important;
}
.year-img{
  width: 40px !important;
  height: 30px !important;
}
.year-img img{
  width: 100%!important;
  height: 100%!important;
}
.serviceName {
  font-size: 18px !important;
  font-weight: bold !important;
}
.serviceHeaderName {
  font-size: 26px !important;
  font-weight: bold !important;
  color: #000 !important;
}
.serviceProfessional {
  font-size: 18px !important;
  color: #999 !important;
}
.serviceYear {
  font-size: 18px !important;
  color: #999 !important;
}

.serviceContent {
  color: #545a58 !important;
}
.serviceBtn {
  text-align: end;
}
.btnBottomText {
  padding-right: 42px;
  padding-top: 10px;
  color: #545a58 !important;
}
