.petLeftImage {
  max-width: 300px !important;
  height: 400px;
}
.petLeftImage img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.centerImage {
  width: 200px;
  height: 400px;
}
.centerImage img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.rightTop {
  width: 300px;
  height: 194px;
}
.rightTop img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.rightBottom {
  width: 300px;
  height: 194px;
}
.rightBottom img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.serviceHeader {
  color: #000000 !important;
  font-size: 22px !important;
  font-weight: bold !important;
  padding: 30px 0;
}

.location_Area {
  background-color: #ffeee7 !important;
  border-radius: 15px;
  padding: 10px;
}
.firstLocation {
  font-size: 18px !important;
  font-weight: bold !important;
  color: #000 !important;
}
.secondLocation {
  color: #545a58 !important;
  font-size: 16px !important;
  padding-top: 10px;
}

.requestBtn {
  background-color: #f85a47 !important;
  color: #fff !important;
  width: 240px;
}
.overviewSec {
  border: 4px solid #ffeee7;
  padding: 10px;
}
.serviceOverview {
  font-size: 22px !important;
  font-weight: bold !important;
}
.overviewContent {
  color: #545a58 !important;
  padding: 10px 0;
}
.groomingPackage {
  padding: 20px;
  border-radius: 10px;
}
.AboutPetBoard {
  background-color: rgb(252, 244, 248);
}
.packageHead {
  font-size: 22px !important;
  font-weight: bold !important;
}

.ImageAmenities {
  width: 25px !important;
  height: 25px !important;
}
.ImageAmenities img {
  width: 100% !important;
  height: 100% !important;
}
.AmenitiesImage {
  height: 40px !important;
  width: 40px !important;
}
.AmenitiesImage img {
  width: 100% !important;
  height: 100% !important;
}
.AmenitiesHeader {
  font-size: 26px !important;
  font-weight: bold !important;
  color: #000 !important;
}
.FoodImage {
  height: 20px !important;
  width: 20px !important;
}
.FoodImage {
  width: 100% !important;
  height: 100% !important;
}
.vegNonVeg {
  font-size: 16px !important;
  color: #000 !important;
}
.noteAmenity {
  font-size: 16px !important;
  color: #000 !important;
  font-weight: bold !important;
}
.noteAmenitySub {
  font-size: 16px !important;
  color: #000 !important;
}
.BoardingRules {
  background-color: rgb(252, 244, 248);
  padding: 25px 50px;
  display: inline-flex !important;
  justify-content: space-between;
}
.petBoardingRules {
  display: grid;
}
