.BG {
  background-image: url("../../Assets/Images/selectpetBg.svg");

  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
}
.HeaderRED {
  color: #ff9062 !important;
}
.TextAlignLeft {
  text-align: left;
  padding-left: 25px;
  padding-top: 25px;
  color: #808080 !important;
}
.TextAlignLeft1 {
  text-align: left;
  padding-left: 25px;

  color: gray !important;
  line-height: 2.5 !important;
}
.modalBG {
  background-image: url("../../Assets/Images/BookingSubmitBg.png");

  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
}
