.uploadImageContainerNew {
  background-color: red;
  width: 250px;
  height: 30px;
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Label-Style {
  background-color: #ff9062;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  text-align: center;
}
.Input-Field {
  display: none;
}
.Button-Style {
  background-color: red;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0px;
}
.Preview-Images {
  display: inline-block;
  margin: 5px;
  position: absolute;
}
.Image-Size {
  width: 100px;
  height: 100px;
}
.Button-Position {
  position: relative !important;

  right: 30px !important;
}
.Delete-Button-Style {
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #ff9062 !important;
  color: #ff9062 !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px !important;
}
.Align-Selsections {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 50px; */
}
.Arrow-Style {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: #ff9062;
  color: white;
}
.Arrow-Position {
  display: flex;
  align-items: center;
  gap: 20px;
}
