.root {
  overflow: hidden;
}

.textView {
  margin-left: 20px;
  text-align: center;
}

.fileText {
  font-size: 12px;
}

.fileUploader {
  position: absolute;
  height: 400px !important;
  width: 10px !important;
  left: -200px !important;
  top: -200px !important;
  background: transparent !important;
}

.preview {
  margin-top: 50px !important;
}

.uploadimageGrid {
  width: 127px !important;
  height: 126px !important;
  border-radius: 71px !important;
  background: #d2d2d826 !important;
  position: relative;
}
.uploadImageContainer {
  height: 2.4375em !important;
  width: 300px !important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4c4c4 !important;
  box-sizing: content-box;
  position: relative;
}

.logoImg {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.none {
  display: none;
}
.imageUpload {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.regFormImageUpload {
  position: absolute;
  right: 40%;
  top: 40%;
  filter: brightness(0) saturate(100%) invert(74%) sepia(52%) saturate(739%)
    hue-rotate(349deg) brightness(104%) contrast(101%) !important;
}
.textLabel {
  color: rgb(133, 131, 131) !important;
  font-size: 16px !important;
  padding-bottom: 10px !important;
  display: flex;
  justify-content: left;
  padding-top: 4px;
}
.uploadProfileLabel {
  font-size: 14px !important;
  color: #8b8d90;
  font-family: "Poppins";
  padding-right: 10px !important;
}
.ToolTip_Icon {
  display: inline-flex;
}
.inputUpload {
  position: relative;
}
.imageName {
  position: absolute;
  top: 10px;
}
.ToolTip_Icon .MuiIconButton-root {
  padding: 0px 5px !important;
}
