#customStyle {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-family: Roboto-Regular !important;
}

#customText {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-family: Roboto-Regular !important;
}

