.Input-Style {
  display: flex;
  align-items: center;
  border: 3px solid #f57059;
  border-radius: 35px;
  width: 500px;
  height: 70px;
}
#search-input input {
  width: 400px;
  /* max-width: 800px; */
  height: 20px;
  border-radius: 20px;
  border: none;
  font-size: larger;
  padding: 20px;
  outline: none;
}
/* #search-input input { */
/* linear-gradient(#676ce6 0%, #d3a2ef 17%, #f3da33 60%, #f57059 100%); */
/* linear-gradient( #676ce6 0%, #d3a2ef 17%, #f3da33 60%, #f57059 100%)
    0% 0%; */
/* } */
#search-input ::-webkit-input-placeholder {
  color: grey;
  font-size: 18px;
}

#search-icon {
  padding-left: 25px;
}
