.strPage > div > div {
  display: inline-grid !important;
  place-items: center;
  padding-top: 8rem;
}
.strPage > div > div > div > div {
  border-top: none !important;
}
.stepper-bg {
  background-image: url("../../../Assets/Images/Pethost\ registeration\ 1.png");

  background-repeat: no-repeat;
  width: 100% !important;
  height: auto;

  background-size: cover;
}
