#card1 {
  background: #94bbe4 0% 0% no-repeat padding-box;
}

#card2 {
  background: #f39397 0% 0% no-repeat padding-box;
}

#card3 {
  background: #d8d9da 0% 0% no-repeat padding-box;
}

#card4 {
  background-color: aqua;
}
