.root {
  overflow: hidden;
}

.textView {
  margin-left: 20px;
  text-align: center;
}

.fileText {
  font-size: 12px;
}

.fileUploader {
  position: absolute;
  height: 400px;
  width: 400px;
  left: -200px;
  top: -200px;
  background: transparent;
}

.preview {
  padding-top: 20px;
  display: flex;
  width: 486px;
}

.imagePreview {
  height: 70px;
  width: 90px;
  border-style: none;
}

.imageViewer {
  height: 178px;
  padding: 10px;
  width: 160px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.uploadImageContainer {
  /* padding: 21px; */
  height: 45px;
  width: 100%;
  border: 1px solid #f5f120;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageViewer2 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.delete {
  font-size: 21px;
  width: 30px;
  height: 30px;
  position: absolute;
  color: rgb(255, 0, 0);
  text-align: center;
  top: 7px !important;
  right: 15px !important;
  cursor: pointer;
}
.form-group .MuiGrid-root {
  padding-top: 5px;
}
